<head>
    <title><%= pageName %> - KeyTracker</title>
    <link type="text/css" rel="stylesheet" href="/style/keytracker.css" />
    <link type="text/css" rel="stylesheet" href="/style/popupbox.css" />
</head>
