<!DOCTYPE html>
<html>
    <%- include("../include/head.ejs"); %>
    
    <body>
        <%- include("include/header"); %>
        
        <main>
            <p>You are not allowed to perform this action.</p>
            <p><a href="/">Return to homepage.</a></p>
        </main>
        
        <%- include("../include/footer.ejs"); %>
    </body>
</html>
